useful_files/node_red_main_flow.js
[{ "id": "2fe180ccfa6ddaed", "type": "tab", "label": "Deleted Msg", "disabled": false, "info": "", "env": [{ "name": "notify_group", "value": "YOUR_GROUP_JID@g.us", "type": "str" }] }, { "id": "c5c76f14c30144d7", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "webhook data", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "targetType": "msg", "statusVal": "", "statusType": "auto", "x": 420, "y": 80, "wires": [] }, { "id": "4d5d2068eeea2822", "type": "switch", "z": "2fe180ccfa6ddaed", "name": "Switch Revoked", "property": "payload.event", "propertyType": "msg", "rules": [{ "t": "eq", "v": "message.revoked", "vt": "str" }], "checkall": "true", "repair": false, "outputs": 1, "x": 380, "y": 300, "wires": [["5b04e6cc1b4872b9", "c5c76f14c30144d7"]] }, { "id": "18afb78d85465459", "type": "catch", "z": "2fe180ccfa6ddaed", "name": "", "scope": null, "uncaught": false, "x": 360, "y": 380, "wires": [["2f573525109aa4b9"]] }, { "id": "2f573525109aa4b9", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "Catch", "active": true, "tosidebar": true, "console": true, "tostatus": true, "complete": "true", "targetType": "full", "statusVal": "payload", "statusType": "auto", "x": 510, "y": 380, "wires": [] }, { "id": "e309d9f308b6c9bf", "type": "switch", "z": "2fe180ccfa6ddaed", "name": "Is_Group", "property": "is_group", "propertyType": "msg", "rules": [{ "t": "true" }, { "t": "false" }], "checkall": "true", "repair": false, "outputs": 2, "x": 1240, "y": 300, "wires": [["70d63af47bdb5e47", "7d8c694d4cc5969c"], ["5e8d6014eff69657", "1e21f45cf728f35d"]] }, { "id": "c1671aec07591811", "type": "switch", "z": "2fe180ccfa6ddaed", "name": "Is_media", "property": "hasMedia", "propertyType": "msg", "rules": [{ "t": "true" }, { "t": "false" }], "checkall": "true", "repair": false, "outputs": 2, "x": 2040, "y": 280, "wires": [["f00dbc1c83eea7bc"], ["23007377e5d607bf"]] }, { "id": "a5179f9deb72b3ed", "type": "switch", "z": "2fe180ccfa6ddaed", "name": "Switch image / file", "property": "mimetype", "propertyType": "msg", "rules": [{ "t": "cont", "v": "image", "vt": "str" }, { "t": "else" }], "checkall": "true", "repair": false, "outputs": 2, "x": 2430, "y": 160, "wires": [["5d7db73c19f9689c"], ["1b5f0588368302b6"]] }, { "id": "f00dbc1c83eea7bc", "type": "function", "z": "2fe180ccfa6ddaed", "name": "Set send file vars", "func": "const msgId = String(msg.msg_id || '').trim();\nconst mimeRaw = String(msg.mimetype || '').trim();\n\nconst mime = mimeRaw.split(';')[0].trim().toLowerCase();\n\nlet ext = mime.includes('/') ? mime.split('/')[1] : 'bin';\next = ext.replace(/[^a-z0-9.+-]/gi, '') || 'bin';\n\nconst extMap = {\n  jpeg: 'jpeg',\n  ogg: 'oga',\n  oga: 'oga',\n  opus: 'opus',\n  mpeg: 'mp3',\n  'x-m4a': 'm4a',\n  mp4: 'mp4',\n  quicktime: 'mov',\n  pdf: 'pdf'\n};\next = extMap[ext] || ext;\n\nconst filename = msgId ? `${msgId}.${ext}` : null;\n\nconst file_url = filename\n  ? `http://YOUR_HOME_ASSISTANT_IP:8123/local/media/${msg.session}/${encodeURIComponent(filename)}`\n  : null;\n\nconst notifyGroup = env.get(\"notify_group\");\n\nmsg.payload = {\n  chat_id: notifyGroup,\n  mimetype: mime,\n  filename: filename,\n  url: file_url,\n  message_text: msg.user_output || \"\",\n  session: \"default\"\n};\n\nreturn msg;\n", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 2230, "y": 160, "wires": [["a5179f9deb72b3ed"]] }, { "id": "5d7db73c19f9689c", "type": "api-call-service", "z": "2fe180ccfa6ddaed", "name": "Send Image", "server": "7b8a52ab.734e0c", "version": 7, "debugenabled": true, "action": "rest_command.send_waha_image", "floorId": [], "areaId": [], "deviceId": [], "entityId": [], "labelId": [], "data": "payload", "dataType": "jsonata", "mergeContext": "", "mustacheAltTags": false, "outputProperties": [], "queue": "none", "blockInputOverrides": true, "domain": "rest_command", "service": "send_waha_image", "x": 2650, "y": 140, "wires": [["fe066dceaa882836"]] }, { "id": "1b5f0588368302b6", "type": "api-call-service", "z": "2fe180ccfa6ddaed", "name": "Send waha File", "server": "7b8a52ab.734e0c", "version": 7, "debugenabled": true, "action": "rest_command.send_waha_file", "floorId": [], "areaId": [], "deviceId": [], "entityId": [], "labelId": [], "data": "payload", "dataType": "jsonata", "mergeContext": "", "mustacheAltTags": false, "outputProperties": [], "queue": "none", "blockInputOverrides": true, "domain": "rest_command", "service": "send_waha_file", "x": 2660, "y": 200, "wires": [["fe066dceaa882836"]] }, { "id": "ce6e1cbf5133ca41", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug 5", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1960, "y": 80, "wires": [] }, { "id": "3d9468969e0e12c4", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "Group Data arranged", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1120, "y": 440, "wires": [] }, { "id": "23007377e5d607bf", "type": "function", "z": "2fe180ccfa6ddaed", "name": "Set send msg Vars", "func": "const notifyGroup = env.get(\"notify_group\");\n\n\nmsg.payload = {\n  chat_id: notifyGroup,\n  message_text: msg.user_output || \"\",\n  session_name: \"default\"\n};\n\nreturn msg;\n", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 2310, "y": 320, "wires": [["34b7c0da4de61f96", "3298cb60ab140ae0"]] }, { "id": "34b7c0da4de61f96", "type": "api-call-service", "z": "2fe180ccfa6ddaed", "name": "Send whatsapp text", "server": "7b8a52ab.734e0c", "version": 7, "debugenabled": false, "action": "rest_command.send_text_message", "floorId": [], "areaId": [], "deviceId": [], "entityId": [], "labelId": [], "data": "payload", "dataType": "jsonata", "mergeContext": "", "mustacheAltTags": false, "outputProperties": [], "queue": "none", "blockInputOverrides": true, "domain": "rest_command", "service": "send_text_message", "x": 2670, "y": 320, "wires": [["fe066dceaa882836"]] }, { "id": "5e8d6014eff69657", "type": "function", "z": "2fe180ccfa6ddaed", "name": "Set chat Vars (not Group)", "func": "msg.user_output = `Message deleted by: ${msg.sender_name} with the following content: ${msg.body}`;\n\nreturn msg;\n", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1610, "y": 280, "wires": [["c1671aec07591811"]] }, { "id": "3298cb60ab140ae0", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug 49", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 2330, "y": 380, "wires": [] }, { "id": "5b04e6cc1b4872b9", "type": "function", "z": "2fe180ccfa6ddaed", "name": "Parse revoked payload (JS)", "func": "const root = msg.payload || {};\nconst p_root = root.payload || {};\n\n// Prefer before (revoked), else after, else direct payload\nconst p = (p_root.before || p_root.after || p_root) || {};\n\nconst chat_id = p.from;\nconst is_group = (typeof chat_id === 'string') && chat_id.endsWith('@g.us');\n\nlet sender = chat_id;\nif (is_group) {\n  sender = p.participant || (p._data && p._data.author) || sender;\n}\n\nconst hasMedia = !!p.hasMedia;\n\nlet media_type = null;\nif (hasMedia) {\n  const t = p.type;\n  if (typeof t === 'string' && t && t !== 'chat') {\n    media_type = t;\n  } else {\n    const dt = p._data && p._data.type;\n    if (typeof dt === 'string' && dt && dt !== 'chat') media_type = dt;\n  }\n}\n\nlet mimetype = null;\nconst mt = p.mimetype;\nif (typeof mt === 'string' && mt) mimetype = mt;\nelse {\n  const dmt = p._data && p._data.mimetype;\n  if (typeof dmt === 'string' && dmt) mimetype = dmt;\n}\n\nconst msg_id = p.id || (p._data && p._data.id && p._data.id._serialized) || null;\n\nlet body = p.body;\nif (typeof body !== 'string') body = '';\n\nmsg.mimetype = mimetype;\nmsg.msg_id = msg_id;\nmsg.chat_id = chat_id;\nmsg.is_group = is_group;\nmsg.sender = sender;\nmsg.hasMedia = hasMedia;\nmsg.media_type = media_type;\nmsg.body = body;\nmsg.data = root;\nmsg.session = root.session;\n\nreturn msg;\n", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 620, "y": 300, "wires": [["b517cd5211ebaa42", "7799db7f9471cb74"]] }, { "id": "fe066dceaa882836", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug 1", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 2880, "y": 240, "wires": [] }, { "id": "b517cd5211ebaa42", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug 2", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 640, "y": 80, "wires": [] }, { "id": "7799db7f9471cb74", "type": "link call", "z": "2fe180ccfa6ddaed", "name": "", "links": ["e75a1b2ec1fe8ef9"], "linkType": "static", "timeout": "30", "x": 910, "y": 300, "wires": [["d486badf17e78c09"]] }, { "id": "d486badf17e78c09", "type": "link call", "z": "2fe180ccfa6ddaed", "name": "", "links": ["2d3d618468fd7699"], "linkType": "static", "timeout": "30", "x": 960, "y": 340, "wires": [["e309d9f308b6c9bf"]] }, { "id": "70d63af47bdb5e47", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug Group Path", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1490, "y": 80, "wires": [] }, { "id": "7d8c694d4cc5969c", "type": "link call", "z": "2fe180ccfa6ddaed", "name": "", "links": ["233003dd019a3953"], "linkType": "static", "timeout": "30", "x": 1520, "y": 140, "wires": [["e346390dbe571c24"]] }, { "id": "e346390dbe571c24", "type": "link call", "z": "2fe180ccfa6ddaed", "name": "", "links": ["51883cb216fd032d"], "linkType": "static", "timeout": "30", "x": 1760, "y": 140, "wires": [["ce6e1cbf5133ca41", "8df77988f68e4435"]] }, { "id": "1e21f45cf728f35d", "type": "debug", "z": "2fe180ccfa6ddaed", "name": "debug chat Path", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "targetType": "full", "statusVal": "", "statusType": "auto", "x": 1600, "y": 240, "wires": [] }, { "id": "8df77988f68e4435", "type": "function", "z": "2fe180ccfa6ddaed", "name": "user_output", "func": "msg.user_output = `Message deleted from: ${msg.group_name} by user: ${msg.sender_name} with the following content: ${msg.body}`;\nif (msg.is_archived) {\n    msg.user_output = msg.user_output + \"\\n\\n\\t\\t\\t\\t\\t\\t📦Archived Group📦\"\n\n}\nreturn msg;", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 1910, "y": 220, "wires": [["c1671aec07591811"]] }, { "id": "3932d0a1e67f0df1", "type": "ha-webhook", "z": "2fe180ccfa6ddaed", "name": "", "server": "7b8a52ab.734e0c", "version": 3, "exposeAsEntityConfig": "", "outputs": 1, "webhookId": "deleted_msg", "method_get": true, "method_head": false, "method_post": true, "method_put": true, "outputProperties": [{ "property": "topic", "propertyType": "msg", "value": "", "valueType": "triggerId" }, { "property": "payload", "propertyType": "msg", "value": "", "valueType": "data" }, { "property": "headers", "propertyType": "msg", "value": "", "valueType": "headers" }, { "property": "params", "propertyType": "msg", "value": "", "valueType": "params" }], "payloadLocation": false, "payloadLocationType": false, "headersLocation": false, "headersLocationType": false, "x": 140, "y": 300, "wires": [["4d5d2068eeea2822"]] }, { "id": "fd6cb677d192b0cc", "type": "inject", "z": "2fe180ccfa6ddaed", "name": "", "props": [{ "p": "payload" }], "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "", "payload": "{\"session_name\":\"default\",\"chat_id\":\"YOUR_GROUP_JID@g.us\",\"message_text\":\"test\"}", "payloadType": "json", "x": 2540, "y": 420, "wires": [["34b7c0da4de61f96"]] }, { "id": "7b8a52ab.734e0c", "type": "server", "name": "Home Assistant", "addon": true, "rejectUnauthorizedCerts": true, "ha_boolean": [], "connectionDelay": false, "cacheJson": false, "heartbeat": false, "heartbeatInterval": "", "statusSeparator": "", "enableGlobalContextStore": false }, { "id": "dbbbea3c48f1b9e3", "type": "global-config", "env": [], "modules": { "node-red-contrib-home-assistant-websocket": "0.80.3" } }]